<div >
    
  <div #diagramDiv class="diagramDiv"></div>
  <div class="palette">
    
      <div #paletteDiv class="paletteDiv"><div></div></div>
      <br>
      <div #paletteDiv2 class="paletteDiv"></div>
  </div>
</div>
<!-- <div class="form-check" *ngFor="let column of columns; let i = index;">
          <label class="form-check-label" >
            <input
              class="form-check-input"
              type="checkbox"
              id="column.valueOf()">
            {{hh}}
          </label>
          
        </div> -->